source https://www.nuget.org/api/v2
nuget Expecto
nuget FSharp.Core

group Tests
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Expecto

group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Saturn
    nuget Fable.JsonConverter
    nuget WindowsAzure.Storage
    nuget Microsoft.Azure.Storage.Common
    nuget Microsoft.WindowsAzure.ConfigurationManager

    clitool Microsoft.DotNet.Watcher.Tools

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fulma

    clitool dotnet-fable

group Build
    source https://api.nuget.org/v3/index.json
    generate_load_scripts: true

    nuget FAKE
#endif